body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: whitesmoke;
}
#astridhead {
    height: 5em;
}
#containline {
    width: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}
p {
    text-align: left;
    text-indent: 5em;
    font-size: 1.2em;
}
a {
    text-decoration: none;
    color: #3498db ;
}
@keyframes extendfade {
    0% {box-shadow:0 0 0em 0em #6dd5ed; }
    100% {box-shadow:0 0 3em 0.5em #6dd5ed; }
}
#drwhoimg {
    width: 80%;
    box-shadow:0 0 3em 0.5em none; 
}
#drwhoimg:hover {
    animation: extendfade 0.5s ease-out 0s 1;
    box-shadow: 0 0 3em 0.5em #6dd5ed;
}

#centp, #footer {
    text-align: center;
    text-indent: 0;
    font-size: 1.5em;
}
#footer {
    font-size: 0.9em;
    color: gray
}
#colorSquare {
    position: absolute;
    height: 2em;
    width: 2em;
    background-color: white;
}
@keyframes pulse {
    0%{background-color: white}
    50%{background-color: black}
    100%{background-color: white}
}

#colorSquare:hover {
    animation: pulse 1s linear 0s infinite;
}

.linkico, .linkicobig {
    height: 1.2em;
    margin-right: 0.2em;
    display: inline-table;
    position: relative;
    top: 0.2em;
}

.linkicobig {
    height: 1.5em;
    top: 0.4em;
}

#invert {
    filter: invert(1);
}
.pdiv {
    display: inline-table;
    text-align: left;  
    width: 80%;
    max-width: 50em;
}